<div class= "cards">
    <h3><%= card.title %></h3>
    <h5>Description: <%= card.description %></h5>
    <table>
        <thead>
            <th>TO-DO items</th>
            <th></th><!--Space for condition-->
            <th>Mark Done</th>
            <th><%= link_to "New ToDo item", new_item_path(card_id: card.id) %></th>
        </thead>
        <tbody>
            <div class="items">
                <% @items = card.items %>
                <%= render @items %>
            </div>
        </tbody>
    </table>
</div>

