.danger {
    background: red;
    padding: 15px;
    color: #fff;
}

.success {
    background: #16A765;
    padding: 15px;
    color: #fff;
}

.cards {
    border: 1px solid black;
    margin: 20px;
}

.label a{
    color: #fff;
}

#logout {
    padding: 15px;
}
