body {
    padding:40px;
}

.danger {
    background: red;
    padding: 15px;
    color: #fff;
}

.success {
    background: #16A765;
    padding: 15px;
    color: #fff;
}

.cards {
    border: 1px solid black;
    margin: 20px;
}

.label a{
    color: #fff;
}

#logout {
    padding: 15px;
    margin-left: 10px;
}

#signup_label{
    padding: 15px;
}

.profile_name{
    font-size: 25px;
    margin: 5px;
    color: #FFF;
}
