<div class="top-bar">
    <div class="top-bar-left">
        <li class="menu-text">
            TODO-list App
        </li>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li>HOME</li>
            <li>YOUR LISTS</li>
            <% if logged_in? %>
                <li><%= link_to "LOGOUT", logout_path, method: :delete %></li>
            <% else %>
                <li><%= link_to "LOGIN", login_path %></li>
            <% end %>
        </ul>
    </div>
</div>
