<div class="top-bar">
    <div class="top-bar-left">
        <li class="menu-text">
            TODO-list App
        </li>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li>HOME</li>
            <li>YOUR LISTS</li>

        </ul>
    </div>
</div>
